
body {
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #8B8B8B;
    margin: 0;
    font-family: 'Roboto';
}

.gameboy {
    top:0;
    width: 80%;
    height: 90%;
    background-color: #6B6B6B;
    border-radius: 1em 1em 4em 1em;
    overflow: hidden;
    box-shadow: 0 0 .5em rgba(0, 0, 0);
    text-align:center;
    margin:1em auto;
}
.gameboy p {
    margin: auto;
    padding: 1em;
}
.screen {
    position: relative;
    width: 80%;
    height: 80%;
    left: 10%;
    background-image: radial-gradient(#9bbc0f, #9bbc0f, #9bbc0f, #8bac0f, #306230);
    border: 2px solid #000000;
    border-radius: .2em;
    padding: .1em;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 3em;
    color: #306230;
    text-shadow: 2px 2px 2px #5D871F;
}

h3 {
    color: white;
    padding-left: 3rem;
    font-size: 2em;
}

.aboutMe {
    opacity: 0.1;
    transition: opacity 3.0s ease-in-out;
    padding: 3em;
    font-size: 150%;
}
#centerContent {
    display: flex;
    background-color: black;
    align-items: center;
    border-radius: 1em;
    box-shadow: 0 0 .5em rgba(0, 0, 0);
}
.aboutMe img {
    width: calc(33.33% - 40px);
    margin-right: 50px;
    border-radius: 5em;
    padding: 2em;
}
.aboutMe p {
    width: calc(66.66% - 40px);
    margin: 0;
    color: #fff;
    padding: 1em;
}
.directionPad {
    background-color: black;
    width: 50%;
    height: 4em;
    margin: auto;
    box-shadow: 0 0 .5em rgba(0, 0, 0);
}
#topDirection {
    border-radius: 1em 1em 0em 0em;
}
#bottomDirection {
    border-radius: 0em 0em 1em 1em;
}

.workHistory {
    opacity: 0.1;
    transition: opacity 3.0s ease-in-out;
    color: black;
    display: grid;
    align-items: center;
    padding: 2em;
    font-size: 125%;
}
.job {
    background-color: #BE0A6E;
    padding: 1em;
    margin: .5em;
    border-radius: 2em;
    box-shadow: 0 0 .5em rgba(0, 0, 0)
}
#advancedMetrics{
    margin-left: 30%;
}
#fultonBank {
    margin-right: 30%;
}

.education {
    display: flex;
    opacity: 0.1;
    transition: opacity 3.0s ease-in-out;
    color: gold;
    padding: 1em;
}
.startSelect {
    background-color: #6B6B6B;
    width: 50%;
    padding: 1em;
    margin: .5em;
    border-radius: 2em;
    box-shadow: 0 0 .5em rgba(0, 0, 0)
}

.projects {
    opacity: 0.1;
    transition: opacity 3.0s ease-in-out;
    background-color: #000;
    color: #fff;
    padding: 0px 4em 4em 4em;
}

.projects h2{
    padding:2em 0px 0px 0px; 
}

.extras {
    background-color: #000;
    color: #fff;
    padding: 4em;
}