/*Black background and center main content*/
body {
    max-width: 1200px;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: 'Roboto';
}

/*Main Title Card: TODO - Make the main screen interactable*/
.system {
    background-color: #8B8B8B;
    box-shadow: 10px 10px #6B6B6B;
    padding: 1em;
    border-radius: 2em 2em 4em 2em;
    margin: 1em 1em 3em 1em;
}
.gameboy {
    top:0;
    width: 90%;
    height: 90%;
    background-color: #6B6B6B;
    border-radius: 1em 1em 4em 1em;
    overflow: hidden;
    box-shadow: 0 0 .5em rgba(0, 0, 0);
    text-align:center;
    margin:1em auto;
}
.gameboy p {
    margin: auto;
    padding: 1em;
}
.screen {
    position: relative;
    width: 80%;
    height: 80%;
    left: 10%;
    background-image: radial-gradient(#9bbc0f, #9bbc0f, #9bbc0f, #8bac0f, #306230);
    border: 2px solid #000000;
    border-radius: .2em;
    padding: .1em;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 3em;
    color: #306230;
    text-shadow: 2px 2px 2px #5D871F;
}

#subtitle{
    color: #306230;
    font-size: 1.2em;
    padding-bottom: 1em;
    padding-left: 0;
}

/*Headers dividing content*/
h2 {
    color: white;
    padding-left: 3rem;
    font-size: 2em;
    margin: 0px;
}

/*About me directional pad*/
.aboutMe {
    opacity: 0.1;
    transition: opacity 3.0s ease-in-out;
    padding: 3em;
    font-size: 150%;
}
#centerContent {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    align-items: center;
    border-radius: 1em;
    box-shadow: 0 0 .5em rgba(0, 0, 0);
}
.aboutMe img {
    border-radius: 5em;
    padding: 1em;
    box-sizing: border-box;
    flex: 1 1 33.33%;
    max-width: 33.33%;
}
.aboutMe p {
    font-size:1.5rem;
    margin: 0;
    color: #fff;
    padding: 2em;
    box-sizing: border-box;
    flex: 1 1 66.67%;
}
.directionPad {
    background-color: black;
    width: 50%;
    height: 4em;
    margin: auto;
    box-shadow: 0 0 .5em rgba(0, 0, 0);
}
#topDirection {
    border-radius: 1em 1em 0em 0em;
}
#bottomDirection {
    border-radius: 0em 0em 1em 1em;
}
@media (max-width: 800px) { /*When screen gets too small make text in this box vertical*/
    .aboutMe img, .aboutMe p {
        flex: 1 1 100%;
        margin:auto
    }
    .aboutMe img {
        padding: 0px;
    }
}

/*Work History A/B Buttons: TODO - Try to put a fadded "A" + "B" in the buttons*/
.workHistory {
    opacity: 0.1;
    transition: opacity 3.0s ease-in-out;
    color: black;
    display: grid;
    align-items: center;
    padding: 2em;
    font-size: 125%;
}
.job {
    background-color: #BE0A6E;
    padding: 1em;
    margin: .5em;
    border-radius: 2em;
    box-shadow: 0 0 .5em rgba(0, 0, 0)
}
#advancedMetrics{
    margin-left: 30%;
}
#fultonBank {
    margin-right: 30%;
}

/*Education and Certificates start/select */
.education {
    display: flex;
    opacity: 0.1;
    transition: opacity 3.0s ease-in-out;
    color: gold;
    padding: 1em;
}
.startSelect {
    background-color: #6B6B6B;
    width: 50%;
    padding: 1em;
    margin: .5em;
    border-radius: 2em;
    box-shadow: 0 0 .5em rgba(0, 0, 0)
}

/*Projects and Work: TODO - Figure out how to animate these cards so you can flip through them like leafing through files*/
.projects {
    opacity: 0.1;
    transition: opacity 3.0s ease-in-out;
    color: #fff;
}
.projects h3{
    text-align:center;
    padding:1em;
    border:solid #6B6B6B;
    border-radius:4em;
}
.gamecartridge {
    background-color: #8B8B8B;
    padding: 1em 2em 2em 2em;
    margin: 2em;
    box-shadow: 10px 10px #6B6B6B;
}
.triangle {
    margin:auto;
    width: 0;
    height: 0;
    border-left: 4em solid transparent;
    border-right: 4em solid transparent;
    border-top: 2em solid #6B6B6B;
}

/*Extra Links*/
.extras {
    background-color: #000;
    color: #fff;
    padding: 4em;
}